<div class="dialog">
    <h1 mat-dialog-title>Bonus</h1>
    <div mat-dialog-content>
        C'est ici que tu trouveras les différents bonus qui te permettront d'obtenir encore plus de points !
        Les bonus se débloquent au fur et à mesure de ta progression et coûtent un certain nombre de points (indiqué sur
        la même ligne). À toi d'investir intelligemment afin d'optimiser au maximum ta partie.
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fermer</button>
    </div>
</div>