<div class="dialog">
    <h1 mat-dialog-title>Bonus</h1>
    <div mat-dialog-content>
        C'est ici que tu trouveras les différents bonus qui te permettront d'obtenir encore plus de points.<br>
        Ils se débloquent au fur et à mesure de ta progression et coûtent un certain nombre de points à
        l'utilisation. À toi d'investir intelligemment afin d'optimiser au maximum ta
        partie.<br><br>
        <i>Astuce: Tu peux connaître les effets d'un bonus en mettant ta souris ou ton doigt dessus.</i>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Fermer</button>
    </div>
</div>