.mat-expansion-panel-header-description {
    justify-content: center;
    align-items: center;
}
.description {
    text-align: left;
}
.description h5 {
    color: rgb(99, 99, 99);
    margin: 0 0 0.5em 0;
}
.button {
    margin-top: 1.2em;
}
.button button {
    margin: 0 4px;
}
mat-progress-bar {
    margin: 0.5em auto 0 auto;
    width: 120px;
}
