<div *ngFor="let bonus of getBonuses(); last as last; index as i">
    <div @animationTrigger class="bonus" *ngIf="getBonusUnlocked() > i">
        <div class="button">
            <button mat-raised-button color="{{ bonus.color }}" matTooltip="{{ bonus.tooltip }}"
                (click)="onClickMethod(bonus.method)"
                disabled="{{ bonus.cooldown ? getCooldown(bonus.method) < 100 : getCostMethod(bonus.method) > getScore() }}">
                {{ bonus.buttonText }}</button>
            <mat-progress-bar *ngIf="bonus.cooldown" mode="determinate" value="{{ getCooldown(bonus.method) }}">
            </mat-progress-bar>
        </div>
        <div class="cost">{{ numberFormatter(getCostMethod(bonus.method)) }}</div>
    </div>
    <div class="locked" *ngIf="getBonusUnlocked() <= i">
        <mat-icon>lock</mat-icon> {{ numberFormatter(bonus.unlockScore) }}
    </div>
    <mat-divider *ngIf="!last"></mat-divider>
</div>