<mat-drawer-container id="body" hasBackdrop="false">
    <mat-drawer mode="over" class="drawer" #drawer>
        <div class="drawerHeader">
            <span class="title">Bonus</span>
            <button mat-icon-button (click)="toggleDrawer()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <app-bonus-drawer></app-bonus-drawer>
    </mat-drawer>
    <div class="game">
        <div class="score">{{ getScore() }}</div>
        <div class="stats">
            Points par clic: <span id="ppc">{{ getPPC() }}</span><br>
            Points par seconde: <span id="pps">{{ getPPS() }}</span>
        </div>
        <div class="images">
            <img @animationTrigger src="{{ getImageName() }}" height="150px" class="juggle firstImage"
                *ngIf="getImageStatus()">
            <img src="assets/img/1.png" (click)="updateScore()" class="image">
            <img @animationTrigger src="{{ getImageName() }}" height="150px" class="juggle" *ngIf="getImageStatus()">
        </div>
        <button mat-stroked-button id="bonusButton" color="primary" (click)="toggleDrawer()">Voir les bonus</button>
    </div>
</mat-drawer-container>
<div class="footer">
    <button mat-icon-button [matMenuTriggerFor]="menu" style="color: white;"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openResetDialog()" style="margin: 0;">Reset</button>
    </mat-menu>
    <span class="name">Adem MRIZAK</span>
</div>